.wrap {
    display: flex;
    gap : 20px;
    justify-content: center;
}

.green,
.red {
    display: block;
    width: 40px;
    border-radius: 10%;
    padding: 20px;
    margin: 0;
    border: 1px solid transparent;
    background-color: gray;
    color: aliceblue;
}

.green.active {
    background-color: green;
    color: aliceblue;
}

.red.active {
    background-color: red;
    color: aliceblue;
}

.switchButton {
    display: block;
    padding: 20px 10px;
    width: 100px;
    border:1px solid gray;
    border-radius: 10px;
    background-color: transparent;
}

